menu "Example Configuration"

    choice
        prompt "Select the example to build"
        default EXAMPLE_BUILD_LAN8671
            config EXAMPLE_BUILD_LAN8671
                bool "lan8671"
            config EXAMPLE_BUILD_WIFI
                bool "wifi"
            config EXAMPLE_BUILD_IPERF_ETHERNET
                bool "iperf_ethernet"
            config EXAMPLE_BUILD_RS485
                bool "rs485"
            config EXAMPLE_BUILD_WIFI_HTTP_DOWNLOAD_FILE
                bool "wifi_http_download_file"
    endchoice
endmenu
